<mat-toolbar color="primary" class="fixed-navbar">
    <mat-toolbar-row class="d-flex flex-row    ">
      <a routerLink="/product" mat-button>Products</a>
      <a routerLink="product/cart" mat-button class=" position-relative ">Cart 
        <span class=" position-absolute bottom-50 text-dark">{{cartProductCount}}</span></a>
      <a routerLink="/about" mat-button>About-Directives</a>
      <a routerLink="product/user/profile" mat-button>User Profile</a>
      
      <a routerLink="login" mat-button *ngIf="isLoggedIn===false">Login</a>
      <a (click)="logOut()" mat-button *ngIf="isLoggedIn===true">Logout</a>
      <mat-slide-toggle (change)="handleDarkMode()" [checked]="toggle" >
          
      </mat-slide-toggle>

    </mat-toolbar-row>
</mat-toolbar>


<div class="text-center" *ngIf="isSpinnerActive == true">
  <div id="spinner" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>